<div class="landing-component">

    <div>
        <div>
            <div>
                <div>
                    <div>Rick and Morty</div>
                    <div>
                        <div>Hey, did you ever want to hold a Terry fold?</div>
                    </div>
                </div>
                <div>

                    <div fxLayout="row" >
                        <mat-card *ngFor="let character of characters" class="card" fxLayout="column">
                            <div>
                                <div>
                                    <img src="{{character.avatar}}" alt="">
                                </div>
                                <div>
                                    <div>{{ character.name }}</div>
                                </div>
                            </div>
                            <div>
                                <div>
                                    <div>STATUS</div>
                                    <div>{{ character.status }}</div>
                                </div>
                                <div>
                                    <div>SPECIES</div>
                                    <div>{{ character.species }}</div>
                                </div>
                                <div>
                                    <div>GENDER</div>
                                    <div>{{ character.gender }}</div>
                                </div>
                                <div>
                                    <div>ORIGIN</div>
                                    <div>{{ character.origin.name }}</div>
                                </div>
                                <div>
                                    <div>LAST LOCATION</div>
                                    <div>{{ character.lastLocation }}</div>
                                </div>
                            </div>
                        </mat-card>
                        <!-- <div class="card">
                            <div>
                                <div>
                                    <div>Bearded Lady</div>
                                </div>
                            </div>
                            <div>
                                <div>
                                    <div>STATUS</div>
                                    <div>Dead</div>
                                </div>
                                <div>
                                    <div>SPECIES</div>
                                    <div>Alien, Parasite</div>
                                </div>
                                <div>
                                    <div>GENDER</div>
                                    <div>Female</div>
                                </div>
                                <div>
                                    <div>ORIGIN</div>
                                    <div>unknown</div>
                                </div>
                                <div>
                                    <div>LAST LOCATION</div>
                                    <div>Earth (Replacement Dimension)</div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div>
                                <div>
                                    <div>Doofus Rick</div>
                                </div>
                            </div>
                            <div>
                                <div>
                                    <div>STATUS</div>
                                    <div>unknown</div>
                                </div>
                                <div>
                                    <div>SPECIES</div>
                                    <div>Human</div>
                                </div>
                                <div>
                                    <div>GENDER</div>
                                    <div>Male</div>
                                </div>
                                <div>
                                    <div>ORIGIN</div>
                                    <div>Earth (J19ζ7)</div>
                                </div>
                                <div>
                                    <div>LAST LOCATION</div>
                                    <div>Earth (Replacement Dimension)</div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div>
                                <div>
                                    <div>Greasy Grandma</div>
                                </div>
                            </div>
                            <div>
                                <div>
                                    <div>STATUS</div>
                                    <div>Alive</div>
                                </div>
                                <div>
                                    <div>SPECIES</div>
                                    <div>Human, Grandma</div>
                                </div>
                                <div>
                                    <div>GENDER</div>
                                    <div>Female</div>
                                </div>
                                <div>
                                    <div>ORIGIN</div>
                                    <div>Greasy Grandma World</div>
                                </div>
                                <div>
                                    <div>LAST LOCATION</div>
                                    <div>Greasy Grandma World</div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div>
                                <div>
                                    <div>SEAL Team Rick</div>
                                </div>
                            </div>
                            <div>
                                <div>
                                    <div>STATUS</div>
                                    <div>Dead</div>
                                </div>
                                <div>
                                    <div>SPECIES</div>
                                    <div>Human</div>
                                </div>
                                <div>
                                    <div>GENDER</div>
                                    <div>Male</div>
                                </div>
                                <div>
                                    <div>ORIGIN</div>
                                    <div>unknown</div>
                                </div>
                                <div>
                                    <div>LAST LOCATION</div>
                                    <div>Citadel of Ricks</div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div>
                                <div>
                                    <div>Morphizer-XE Customer Support</div>
                                </div>
                            </div>
                            <div>
                                <div>
                                    <div>STATUS</div>
                                    <div>unknown</div>
                                </div>
                                <div>
                                    <div>SPECIES</div>
                                    <div>Alien</div>
                                </div>
                                <div>
                                    <div>GENDER</div>
                                    <div>Male</div>
                                </div>
                                <div>
                                    <div>ORIGIN</div>
                                    <div>unknown</div>
                                </div>
                                <div>
                                    <div>LAST LOCATION</div>
                                    <div>Earth (Replacement Dimension)</div>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>