.dark-text{
    color:rgb(51, 51, 51);
}
.light-text{
    color:rgb(158, 158, 158);
}
.orange-text{
    color:rgb(255, 152, 0);
}

.light-background{
    background-color: #FFFFFF;
}
.dark-background{
    background-color: #202329;
}

